body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  background: #222;
  color: white;
  padding: 10px;
}
.container {
  padding: 2rem;
}
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 1rem;
}
